/.phpunit.cache
/node_modules
/public/build
/public/hot

# Ignore all contents of public/storage except defaultAvatar.jpg and .gitkeep
/public/storage/*
!/public/storage/.gitkeep
!/public/storage/photos/
!/public/storage/photos/.gitkeep
!/public/storage/photos/defaultAvatar.jpg

# Ignore storage secrets, pail, and other contents but keep folder
/storage/*.key
/storage/pail
/storage/*
!/storage/.gitkeep

/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json

# IDE/editor folders
/.fleet
/.idea
/.nova
/.vscode
/.zed
